<h3>Estadísticas</h3>
<%
   var npreg = quizes.length;
   var ncom = 0;
   var media = 0;
   var ncom = comments.length;
   var media = (comments.length/quizes.length).toFixed(2);
   var con = 0;
   var i;
   for (i=0; i < quizes.length; i++) {
      if (quizes[i].Comments.length > 0) con++;
   }
   var sin = npreg - con;
%>
<table class="est">
   <tr>
      <th>Número de preguntas</th>
      <td><%=npreg%></td>
   </tr>
   <tr>
      <th>Número de comentarios totales</th>
      <td><%=ncom%></td>
   </tr>
   <tr>
      <th>Número medio de comentarios por prepregunta</th>
      <td><%=media%></td>
   </tr>
   <tr>
      <th>Número de preguntas sin comentarios</th>
      <td><%=sin%></td>
   </tr>
   <tr>
      <th>Número de preguntas con comentarios</th>
      <td><%=con%></td>
   </tr>
</table>

